# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Database (Local storage)
db/

# Moomoo OpenD
# Ignore the actual config file containing credentials
**/OpenD.xml

# Jupyter Notebooks
*.ipynb
/.ipynb_checkpoints/

# Configuration for Windows Task Scheduler
run_daily.bat
daily_log.txt

