[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
yfinance = "*"
matplotlib = "*"
seaborn = "*"
moomoo-api = "*"
load-dotenv = "*"
dotenv = "*"
psutil = "*"
pathlib = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
