[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
yfinance = "*"
matplotlib = "*"
moomoo-api = "*"
load-dotenv = "*"
dotenv = "*"
psutil = "*"
pathlib = "*"
plotly = "*"
streamlit = "*"
numpy = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
